/* ================= DATE PICKER ============================= */
.main-right {
    width: 208px;
    border-radius: 5px;
    border: solid 1px #999999;
    padding: 14px 20px 14px 20px;
    margin-bottom: 10px;
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.main-right img {
    position: absolute;
    top: 9px;
    right: 14px;
    border-left: 1px solid #999999;
    padding-left: 16.5px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}
.main-right-note {
    width: 250px;
    position: absolute;
    top: 231px;
    right: 0;
    font-size: 14px;
    color: #4e4e4e;
    line-height: 1.57;
}
.main-right .item-content {
  height: 20px;
}
/* ================= КОНЕЦ - DATE PICKER ====================== */
